/* Base styles */

:root {
  --fontFamily: Inter, sans-serif;
  --fontFamilyNumber: "DM Mono", serif;
  --fontWeightRegular: 400;
  --fontWeightMedium: 500;
  --fontWeightSemibold: 600;
  --fontWeightBold: 700;

  --clr-dark: #1d1d1f;
  --clr-medium: #394150;
  --clr-light: #d2d5da;
  --clr-lighter: #f3f4f6;
  --clr-white: #ffffff;
  --clr-gray: #e5e7eb;
}

body {
  --backgroundColor: var(--clr-lighter);
  --textColor: var(--clr-medium);
  --textInverseColor: var(--clr-white);
  --headingColor: var(--clr-dark);

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: var(--fontFamily);
  font-weight: var(--fontWeightRegular);
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

.section--light {
  --backgroundColor: var(--clr-gray);
  --textColor: var(--clr-medium);
  --textInverseColor: var(--clr-white);
  --headingColor: var(--clr-dark);
  --controlBorderColor: var(--clr-light);
  --buttonColor: var(--clr-dark);
  --buttonHoverColor: var(--clr-dark);
  --buttonTextColor: var(--clr-white);
  --buttonFocusColor: var(--clr-dark);
  --inputBackground: var(--clr-white);
  --inputPlaceholderColor: var(--clr-medium);
  --inputTextColor: var(--clr-medium);
  --thumbnailBackground: var(--clr-white);
}

.section--white {
  --backgroundColor: var(--clr-white);
  --textColor: var(--clr-medium);
  --headingColor: var(--clr-dark);
  --controlBorderColor: var(--clr-light);
  --buttonColor: var(--clr-dark);
  --buttonHoverColor: var(--clr-dark);
  --buttonTextColor: var(--clr-white);
  --buttonFocusColor: var(--clr-dark);
  --inputBackground: var(--clr-lighter);
  --inputPlaceholderColor: var(--clr-medium);
  --inputTextColor: var(--clr-medium);
  --thumbnailBackground: var(--clr-white);
}

h1 {
  font-size: 1.5rem;
  font-weight: var(--fontWeightBold);
}

h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: var(--fontWeightSemibold);
  color: var(--headingColor);
}

label {
  font-size: 0.875rem;
  font-weight: var(--fontWeightMedium);
}

input,
select,
button,
textarea {
  margin: 0;
  border: 1px solid var(--controlBorderColor);
  padding-inline: 0.875rem;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  line-height: 1;
  display: inline-flex;
  height: 3rem;
  border-radius: 8px;
}

button {
  background: var(--buttonColor);
  color: var(--buttonTextColor);
  white-space: nowrap;
  border: none;
  justify-content: center;
  align-items: center;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  padding-inline: 0.875rem;
  font-weight: var(--fontWeightSemibold);
}

button[unset] {
  all: unset;
}

button:focus-visible {
  border: 1px solid var(--buttonFocusColor);
}

input,
select {
  color: var(--inputTextColor);
  background: var(--inputBackground);
  border-radius: 8px;
}

input::placeholder {
  color: var(--inputPlaceholderColor);
}

.custom-select {
  position: relative;
}

.custom-select select {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  padding-inline: 0.875rem 2rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.custom-arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 2rem;
  pointer-events: none;
}

.form-control--medium {
  height: 3.375rem;
}

.sprite {
  display: none;
}

.icon {
  --_icon-width: var(--icon-width, 1.5rem);
  --_icon-height: var(--icon-height, 2rem);

  height: var(--_icon-height);
  width: var(--_icon-width);
}

.icon--cross {
  --icon-width: 1.25rem;
  --icon-height: 1.5rem;
}

/* Layout classes */
.wrapper {
  --wrapper-max-width: 1128px;
  --wrapper-padding: 2.5rem;
  width: min(var(--wrapper-max-width), 100% - var(--wrapper-padding) * 2);
  margin-inline: auto;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1.75rem);
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--stack-space, 1rem);
}

.stack--large {
  --stack-space: 1.75rem;
}

.stack--small {
  --stack-space: 0.5rem;
}

.repel {
  display: flex;
  justify-content: space-between;
}

.two-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(190px, 100%), 1fr));
  gap: 1.5rem;
}

.with-sidebar {
  --sidebar-gap: 1rem;
  --sidebar-side-width: 20rem;
  --sidebar-content-min-width: 50%;

  display: flex;
  flex-wrap: wrap;
  gap: var(--sidebar-gap);
}

.sidebar {
  flex-basis: var(--sidebar-side-width);
  flex-grow: 1;
}

.not-sidebar {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: var(--sidebar-content-min-width);
}
/* End of layout classes */

.pattern {
  position: absolute;
  width: 100%;
  height: 15rem;
  background-image: url(/resources/background-image@2x.png);
  background-color: var(--color-dark-purple);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 640px) {
  .pattern {
    background-image: url(/resources/background-image.png);
  }
}

.main-content {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-block: 2.5rem;
}

.main-title {
  color: var(--textInverseColor);
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.main-title span {
  font-size: 12px;
  background: var(--clr-dark);
  text-transform: uppercase;
  padding: 0.25rem 0.75rem;
  border-radius: 16px;
  font-weight: var(--fontWeightRegular);
}

.main-title + * {
  margin-top: 2.5rem;
}

.cart-items {
  --stack-space: 1.5rem;
}

.cart-content {
  background: var(--backgroundColor);
  color: var(--textColor);
}

.divider {
  background-color: var(--clr-light);
  height: 1px;
  border: 0;
  margin-block: 1.5rem;
}

.cart-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  border-radius: 16px;
  box-shadow: 0px 4px 4px -1px rgba(17, 23, 41, 0.05);
  overflow: hidden;
}

.cart-container > * {
  padding: 2rem;
}

.cart-container :is(ul, ol) {
  padding: 0;
  margin: 0;
}

.cart-item-content {
  --sidebar-gap: 1.5rem;
  --sidebar-side-width: auto;
  --sidebar-content-min-width: 60%;
}

.cart-item-body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cart-item-price {
  font-weight: var(--fontWeightSemibold);
  font-family: var(--fontFamilyNumber);
  font-weight: 500;
  color: var(--headingColor);
}

.cart-item-thumbnail {
  --cart-item-thumbnail-size: 98px;

  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--cart-item-thumbnail-size);
  width: 100%;
  max-width: var(--cart-item-thumbnail-size);
  margin-inline: auto;
  background: var(--thumbnailBackground);
  border-radius: 8px;
  border: 1px solid var(--clr-light);
}

.coupon-form {
  --sidebar-gap: 0.5rem;
  --sidebar-side-width: 8.75rem;
  --sidebar-content-min-width: 60%;
}

.total-summary {
  margin-top: 1.5rem;
  font-weight: var(--fontWeightMedium);
}

.total-summary > * {
  display: flex;
  justify-content: space-between;
}

.total-summary > * + * {
  margin-top: 0.5rem;
}

.total-summary .price {
  font-family: var(--fontFamilyNumber);
  text-align: end;
}

.summary-total {
  color: var(--headingColor);
  font-weight: var(--fontWeightBold);
}

.contact-info {
  background: var(--backgroundColor);
  color: var(--textColor);
}

.author-info {
  text-align: center;
}
